/*========================================================================
// Global colors
========================================================================*/
$color-primary: #1e6cb6;
$color-primary-light: #66a8e6;
$color-primary-dark: #0e4981;

$color-secondary-light: #e68134;
$color-secondary-dark: #e06000;

$color-tertiary-light: #8d0c7c;
$color-tertiary-dark: #6d005e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #666;
$color-grey-dark-2: #444;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-black: #000;

/*========================================================================
// Font size
========================================================================*/
$default-font-size: 1.5rem;

/*========================================================================
// Grid spacing
========================================================================*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;