/*============================================================================
// Styling for the shooting star animation in the details section
============================================================================*/
.details-shooting-stars {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 1px;
    height: 1px;
    position: fixed;
    animation-name: particleAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;

    @include respond(tablet) {
        z-index: 0;
    }
    @include respond(phone) {
        z-index: 0;
    }

    &-star1 {
        animation-duration: 12s;
        top: 25%;
    }
    &-star2 {
        animation-duration: 7s;
        top: 60%;
    }
    &-star3 {
        animation-duration: 20s;
        top: 90%;
    }

    &:before {
        position: absolute;
        display: block;
        content: "";
        width: 100px;
        right: 1px;
        top: 0px;
        height: 3px;
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
      }
}