/*============================================================================
// Styling for the default body font
============================================================================*/
body {
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

/*============================================================================
// Styling for primary header text
============================================================================*/
.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInTop;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include respond(tablet) {
            letter-spacing: 2rem;
        }
        @include respond(phone) {
            letter-spacing: 1.2rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(tablet) {
            letter-spacing: 1rem;
        }
        @include respond(phone) {
            letter-spacing: .7rem;
        }
    }
}

/*============================================================================
// Styling for secondary header text
============================================================================*/
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-dark, $color-tertiary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;

    @include respond(tablet) {
        background-image: linear-gradient(to right, $color-primary-light, $color-tertiary-light);
        font-size: 2.5rem;
    }
    @include respond(phone) {
        background-image: linear-gradient(to right, $color-primary-light, $color-tertiary-light);
        font-size: 2.5rem;
    }
}

/*============================================================================
// Styling for tertiary header text used throughout the page
============================================================================*/
.heading-tertiary {
    font-size: 3.5rem;
    color: $color-primary;
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

/*============================================================================
// Styling for default paragraphs
============================================================================*/
.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}